<div class="jumbotron">
  <h1 class="display-4">Bem-Vindo(a) ao Blog do Node</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2 class="mt-4 mb-4 text-center fw-bold">📌 Postagens Recentes</h2>

{{#each postagens}}
<div class="card shadow-sm rounded-3 mb-4">
    <div class="card-body">
        <h4 class="card-title fw-bold">{{titulo}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi bi-tag"></i> Categoria: {{categoria.nome}}
        </h6>
        <hr>
        <p class="card-text"><strong>{{descricao}}</strong></p>
        <p class="card-text">{{conteudo}}</p>
        
        <div class="d-flex justify-content-between align-items-center mt-3">
            <a href="/postagem/{{slug}}" class="btn btn-primary btn-sm">
                <i class="bi bi-book"></i> Ler mais
            </a>
            <small class="text-muted">📅 Criado em {{data}}</small>
        </div>
    </div>
</div>

{{else}}
    <div class="alert alert-warning text-center mt-4">
        Nenhuma postagem encontrada.
    </div>
{{/each}}
